<nav>
    <div class="site-title">
        <a href="/"><h1>Inventory Tracker</h1></a>
    </div>
    <ul>
        <li><a href="/">Inventory</a></li>
        <li><a href="/warehouses">Warehouses</a></li>
        <li><a href="/createWarehouse">New Warehouse</a></li>
        <li><a href="/create">New Item</a></li>
    </ul>
</nav>