<!DOCTYPE html>
<html>
   <%- include('./partials/head.ejs') %>
   <body>
        <%- include('./partials/nav.ejs') %>
        <div class="create-item content">
            <form action="/warehouses" method="POST">
              <label for="name">Warehouse name:</label>
              <input type="text" id="name" name="name" required>
              <label for="location">Warehouse location:</label>
              <input type="text" id="location" name="location" required>
              <label for="details">Warehouse details:</label>
              <textarea id="details" name="details"></textarea>
              <button>Submit</button>
            </form>
        </div>
        <%- include('./partials/footer.ejs') %>
   </body>
</html>
